<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Refresh Rate</string>
			<key>Key</key>
			<string>refreshRate</string>
			<key>DefaultValue</key>
			<integer>5</integer>
			<key>Titles</key>
			<array>
				<string>2 Seconds</string>
				<string>5 Seconds</string>
				<string>10 Seconds</string>
				<string>20 Seconds</string>
			</array>
			<key>Values</key>
			<array>
				<integer>2</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>20</integer>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
